---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import LinkedIn from "../components/icons/LinkedIn.astro";
import SocialPill from "../components/SocialPill.astro";
import GithubIcon from "../components/icons/Github.astro"
import MailIcon from "../components/icons/Mail.astro"
import Briefcase from "../components/icons/Briefcase.astro"
import CodeIcon from "../components/icons/Code.astro"
import Experience from "../components/Experience.astro"
import Proyects from "../components/Proyects.astro"
import SectionContainer from "../components/SectionContainer.astro"
---
{
	/// <reference lib="react" />
}

<Layout title="Portafolio de Manuel Guarin - Full Stack Developer"
		description="💻 Desarrollador Full Stack apasionado por la creación de experiencias digitales impactantes. Experto en JavaScript, React y Node.js. ¡Listo para impulsar la innovación en su equipo!">
	<main class="px-4">
		<SectionContainer class="py-44 pb-32">
			<img 
				class="rounded-full size-12 mb-4"
				src="/foto_perfil.jpg" alt="perfil photo" 
			/>
			<h1
				class="text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10"
			>
				Hey, I'M Manuel 
				<a
					href="https://www.linkedin.com/in/manuelguarin"
					target="_blank"
					rel="noopener"
					class="flex justify-center items-center "
				>
					<Badge>Available for Work</Badge>
				</a>
			</h1>
			<h2 class="text-xl lg:text-2xl text-wrap max-w-[700px]">
				Manuel Guarin, from Manizales, Colombia💛💙❤️ <br/>
				<span class="opacity-80">
					Creating Digital Experiences, Developing the Full Stack
				</span>
			</h2>

			<nav class="flex gap-4 mt-8 flex-wrap">
				<SocialPill href="https://www.linkedin.com/in/manuelguarin" >
					<LinkedIn class="w-h size-4 md:size-6" />
					LinkedIn
				</SocialPill>
				<SocialPill href="https://github.com/GuariosMaster" >
					<GithubIcon class="w-h size-4 md:size-6" />
					Github
				</SocialPill>
				<SocialPill href="https://github.com/GuariosMaster" >
					<MailIcon class="w-h size-4 md:size-6" />
					guariosdeveloper@gmail.com
				</SocialPill>
				<SocialPill href="https://github.com/GuariosMaster/GuariosMaster/files/14608842/Curriculum_dev.pdf" >
					<MailIcon class="w-h size-4 md:size-6" />
					Curriculum PDF
				</SocialPill>
			</nav>
		</SectionContainer>
		<SectionContainer id="experiencia">
			<h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
				<Briefcase class="size-6" />
				Work Experience
			</h2>
			<Experience />
		</SectionContainer>
		<SectionContainer id="proyectos">
			<h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
				<CodeIcon class="size-6" />
				Projects
			</h2>
			<Proyects />
		</SectionContainer>
	</main>
</Layout>
