---
import ExperienceItem from "./ExperienceItem.astro"

const EXPERIENCE = [
    {
        date: 'February 2021',
        title: 'Freelance Developer',
        description: "As a seasoned freelance developer, I thrive on tackling complex projects and crafting tailored technological solutions that exceed expectations. My extensive expertise in web development, powered by cutting-edge technologies like JavaScript, Node.js, HTML, and CSS, combined with my adeptness in MySQL database implementation, ensures not just functionality, but also optimal performance. Let's collaborate to bring your vision to life and create impactful digital experiences that resonate with your audience.",
        link: '#',
    }
]
---

<ol class="relative border-s border-gray-200 ml-3">
    {
        EXPERIENCE.map(experience => (
            <li class="mb-10 ms-4">
                <ExperienceItem {...experience} />
            </li>
        ))
    }
    
</ol>
